@charset "UTF-8";

* {
    border-radius: 0 !important;
    box-shadow: 0 0 0 0 !important;

}

.portlet {
    border: 0;
    h2 {
        padding: 10px 0;
    }
}

#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
    border-radius: 0 !important;
}

#portal-globalnav .navbar .nav > li, #portal-globalnav .navbar .contentViews > li, #portal-globalnav .navbar .configlets > li, #portal-globalnav .navbar .formTabs > li {
    background-color: #fff;
}

.navbar-inner {
    background-color: #fff;
    background-image: none;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    #menu-1 *:hover {
        background-color: #fff !important;
    }
}

#portal-header {
    border-bottom: 0;
}

#portal-globalnav .nav > li > a {
    border-right: 0;
}

.portlet-footer {
    background-color: #fff;
    text-align: left;
    padding-left: 0px;
}

.portlet-ampliat .content-noticies {
    padding: 0;
}

.portlet-ampliat h3 {
    padding: 0;
}

.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: 1200px;
}

.list-portlet {
    padding: 0;
}

.pad {
    padding: 0;
}

.portlet-esdeveniments ul li {
    margin: 0;
}

.navbar .nav > li , .navbar .contentViews > li, .navbar .configlets > li, .navbar .formTabs > li  {

    &:first-child > a{
        padding-left: 0;
    }
}

.header-image {
    background-size: cover;
}

.portlet-footer i {
    margin-left: -1px;
    margin-right: 5px;
    position: inherit;
}

.large-icon {
    margin-right: 0px;
}

.subnavbar .nav-list {
    
    a {
        background-color: #fff !important;
        background-image: none;
        border-top: 0 !important;
    }
}

.carousel {
    img {
        width: 1200px;
    }
}

.carousel-inner {
    border-width: 0px;
}
.carousel-control {
    border-width: 0px;
}

.titol-1 {
    font-size: 50px;
    font-weight: bold;
}

.titol-2 {
    font-size: 20px;
    line-height: 20px;
    font-weight: bold;
    display: table-cell;
    width:300px;
    margin-left: 5px;
    left: 10px;
    position: relative;
}